# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Env
.env
.env.*
.venv/
venv/
ENV/
env/

# VSCode / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Pytest / Coverage
htmlcov/
.coverage
.pytest_cache/

# Migrations cache
**/migrations/__pycache__/
